@model IEnumerable<NetPressBlog.Models.BlogInfo>

@{
    ViewBag.Title = Model.First().Category.Type;
}

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>@Model.First().Category.Type</h1>
                    <hr class="small">
                    <span class="subheading">@Html.Raw(Model.First().Category.Description)</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            @foreach (var post in Model)
            {
                <div class="post-preview">
                    <a href="@Url.Action("View", "Home", new {id =post.Id})">
                        <h2 class="post-title">
                            @post.Title
                        </h2>
                        <h3 class="post-subtitle">
                            @post.Subtitle
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="@Url.Action("Author", "Home", new { id = post.AspNetUser.UserName })">@post.AspNetUser.UserName</a> on @post.DateCreated</p>
                </div>
                <hr>
            }
        </div>
    </div>
</div>