@model IEnumerable<NetPressBlog.Models.BlogInfo>

@{
    ViewBag.Title = "Index";
    var x = 0;
}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Welcome</h1>
                    <hr class="small">
                    <span class="subheading">Create, edit or delete your posts here!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<p align="center">
    <a href="@Url.Action("Create")" class="btn btn-default" role="button">
        Create New
    </a>
</p>



<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#published">Published</a></li>
                <li><a data-toggle="tab" href="#drafts">My Drafts</a></li>
                <li><a data-toggle="tab" href="#archived">My Archived</a></li>
            </ul>
            <div class="tab-content">
                <div id="published" class="tab-pane fade in active">
                    @print(1)
                </div>
                <div id="drafts" class="tab-pane fade">
                    @print(2)
                </div>
                <div id="archived" class="tab-pane fade">
                    @print(3)
                </div>                    
            </div>            
        </div>
    </div>
</div>

@helper  print(int x)
{
    foreach (var post in Model)
    {
        if (post.Status == x)
        {
            <div class="post-preview">
                <a href="@Url.Action("Edit", new { id = post.Id })">
                    <h2 class="post-title">
                        @post.Title
                    </h2>
                    <h3 class="post-subtitle">
                        @post.Subtitle
                    </h3>
                </a>
                <div class="buttonright">
                    <a href="@Url.Action("Index", "Category", new { id = post.Category_Id })" class="btn btn-default" role="button">
                        @post.Category.Type
                    </a>
                </div>
                @if (post.LastModified != post.DateCreated)
                {
                    <p class="post-meta">Last Modified on @post.LastModified</p>
                }
                else
                {
                    <p class="post-meta">Created on @post.DateCreated</p>
                }
                @Html.ActionLink("Edit", "Edit", new { id = post.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = post.Id })
            </div>
            <hr />
        }
    }

}


<script type="text/javascript">
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href") // activated tab
        if ($(target).is(':empty')) {
            $.ajax({
                type: "GET",
                url: "/article/",
                error: function (data) {
                    alert("There was a problem");
                },
                success: function (data) {
                    $(target).html(data);
                }
            })
        }
    })
</script>


