@model IEnumerable<NetPressBlog.Models.BlogInfo>



@{
    ViewBag.Title = Model.First().AspNetUser.UserName;
}
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>@Model.First().AspNetUser.UserName</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            @foreach (var post in Model)
            {
                <div class="post-preview">
                    <a href="@Url.Action("View", "Home", new {id =post.Id})">
                        <h2 class="post-title">
                            @post.Title
                        </h2>
                        <h3 class="post-subtitle">
                            @post.Subtitle
                        </h3>
                    </a>
                    <div class="buttonright">
                        <a href="@Url.Action("Index", "Category", new {id =post.Category_Id})" class="btn btn-default" role="button">
                            @post.Category.Type
                        </a>
                    </div>
                    <p class="post-meta">Posted on @post.DateCreated</p>
                </div>
                <hr>
            }
        </div>
    </div>
</div>
