@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<NetPressBlog.Models.BlogInfo>

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>NetPress</h1>
                    <hr class="small">
                    <span class="subheading">The blog where anyone can write about anything</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="col-md-offset-4 col-sm-4">
    <form asp-controller="HomeController" asp-action="Index" role="search">
        <div class="input-group" style="padding-bottom:6px; padding-top:6px">
            <input type="text" class="form-control" placeholder="Search" name="Search" id="Search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" style="padding-bottom:6px; padding-top:6px"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
</div>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            @foreach (var post in Model)
            {
                <div class="post-preview">
                    <a href="@Url.Action("View", new {id =post.Id})">
                        <h2 class="post-title">
                            @post.Title
                        </h2>
                        <h3 class="post-subtitle">
                            @post.Subtitle
                        </h3>
                    </a>
                    <div class="buttonright">
                        <a href="@Url.Action("Index", "Category", new {id =post.Category_Id})" class="btn btn-default" role="button">
                            @post.Category.Type
                        </a>
                    </div>
                    <p class="post-meta">Posted by <a href="@Url.Action("Author", "Home", new { id = post.AspNetUser.UserName })">@post.AspNetUser.UserName</a> on @post.DateCreated</p>
                </div>
                <hr>
            }
        </div>
    </div>
</div>