@model NetPressBlog.Models.BlogInfo
@{
    var formattext = "";
    ViewBag.Title = Model.Title;
    var output = new System.Text.StringBuilder();
    HtmlAgilityPack.HtmlDocument doc = new HtmlAgilityPack.HtmlDocument();
    doc.LoadHtml(Model.Text);
    foreach (HtmlAgilityPack.HtmlNode node in doc.DocumentNode.SelectNodes("//*"))
    {
        output.AppendLine(node.InnerText.ToString() + "\n");
        formattext = output.ToString();
    }
}

<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <h2 class="subheading">@Model.Subtitle</h2>
                    <div class="buttonrightfull">
                        <a href="@Url.Action("Index", "Category", new {id = Model.Category_Id})" class="btn btn-default" role="button">
                            @Model.Category.Type
                        </a>
                    </div>
                    <p class="post-meta">Posted by <a href="@Url.Action("Author", "Home", new { id = Model.AspNetUser.UserName })">@Model.AspNetUser.UserName</a> on @Model.DateCreated</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">           
                <p>@System.Web.HttpUtility.HtmlDecode(Model.Text)</p>
            </div>
        </div>
    </div>
</article>


